*{
  margin: 0;
  background-color: seagreen;
  font-family: "logger";
  -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
  
}




#myBtn {
  background-color: seagreen;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: grab; 
}

/*.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}*/

.dropdown {
  /*position: relative;*/
  /*align-items: center;
  justify-content: center;*/
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: blueviolet;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  background-color: blueviolet;
  color: burlywood;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.header{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}


.nav{
  text-align: center;
  background-color: seagreen;
  color: yellow;
  width: 100%;
  height: 20vh;
}


.title-2{
  color: yellow;
}

.compass{
  margin-bottom: 5%;
}

/*.title{
  animation: 3s linear 0s infinite running Atwood; 
}
@keyframes Atwood{
  05%{transform: scale(0.5, 0.5);} */

#fire{
  animation: 1.5s linear 0s infinite running fire; 
}

@keyframes fire{
  05%{transform: scale(0.5, 0.5);}
}

/*.dropdown-content a:hover {background-color: #f1f1f1}*/

.show {display:block;}

.pic{
  width: 100%;
  height: 70vh;
}

.responsive{
  width: 100%;
  height: auto;
}

.footer{
  background-color: seagreen;
  color: yellow;
  text-align: center;
  height: 1vh;
}




  


